@import url("../../fonts/opensans/style.css");
@media (min-width: 320px) and (max-width: 360px) {
  header #header-content {
    padding-top: 0;
    padding-bottom: 10px; }
  header #header-content-private {
    padding-top: 0;
    padding-bottom: 10px; }
  header #header-main .navbar {
    height: 70px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    background-color: #F5F5F5;
    padding: 0px; }
  header #header-main #carousel-slider-top {
    display: none; }
  header #header-main .header-main-box {
    display: none; }
    header #header-main .header-main-box .header-main-box-content p {
      font-size: 18px !important;
      line-height: 25px !important; }
    header #header-main .header-main-box .header-main-box-content form .form-control {
      height: 45px !important; }
    header #header-main .header-main-box .header-main-box-content form .form-control[placeholder] {
      font-size: 14px !important; }
    header #header-main .header-main-box .header-main-box-content form .c-input {
      font-size: 14px !important; }
    header #header-main .header-main-box .header-main-box-content form .btn {
      padding-top: 10px !important;
      padding-bottom: 10px !important; }
    header #header-main .header-main-box .header-main-box-content form a {
      font-size: 14px !important; }
  header #navbar-main {
    padding-left: 0;
    padding-right: 0; }
    header #navbar-main .navbar {
      height: 70px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      background-color: #F5F5F5;
      padding: 0px;
      z-index: 999; }
    header #navbar-main .container {
      background-color: #fff !important;
      padding-top: 13px;
      padding-bottom: 13px; }
      header #navbar-main .container .navbar-nav li {
        flex-direction: row;
        width: 100%; }
  header .navbar-logo-mobile {
    margin-top: 7px;
    margin-left: 10%; }
    header .navbar-logo-mobile img {
      width: 170px; }
  header .custom-login-mobile {
    height: auto;
    right: 0;
    left: auto; }
    header .custom-login-mobile .menu-login {
      padding: 20px;
      margin-right: -12px;
      margin-left: 2px; }
      header .custom-login-mobile .menu-login .form-login {
        border-bottom: 1px solid #dddddd;
        margin-bottom: 12px; }
      header .custom-login-mobile .menu-login > p {
        font-size: 12px;
        line-height: normal;
        margin-bottom: 10px; }
      header .custom-login-mobile .menu-login .c-input > input:checked ~ .c-indicator {
        background-color: #1c9c57;
        border: 1px solid #1c9c57; }
      header .custom-login-mobile .menu-login .c-input > input:focus ~ .c-indicator {
        -webkit-box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #1c9c57;
        box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #1c9c57; }
      header .custom-login-mobile .menu-login .c-input.c-checkbox {
        font-size: 10px; }
        header .custom-login-mobile .menu-login .c-input.c-checkbox .c-indicator {
          background-color: #dddddd;
          border: 1px solid #999;
          width: 0.8rem;
          height: 0.8rem; }
      header .custom-login-mobile .menu-login label {
        margin-top: -15px; }
        header .custom-login-mobile .menu-login label a {
          font-size: 10px;
          color: #1c9c57; }
          header .custom-login-mobile .menu-login label a:hover, header .custom-login-mobile .menu-login label a:active, header .custom-login-mobile .menu-login label a:focus {
            color: #fff; }
      header .custom-login-mobile .menu-login form .form-group {
        margin-bottom: 5px; }
        header .custom-login-mobile .menu-login form .form-group .form-control {
          border: 2px solid #dddddd;
          height: 30px;
          background-color: transparent;
          transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out; }
          header .custom-login-mobile .menu-login form .form-group .form-control:focus {
            border: 2px solid #1c9c57;
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out; }
        header .custom-login-mobile .menu-login form .form-group .form-control[placeholder] {
          font-size: 12px; }
        header .custom-login-mobile .menu-login form .form-group .btn-login {
          background-color: #1c9c57;
          color: #fff;
          font-family: "open_sanssemibold", sans-serif;
          margin-top: 10px; }
        header .custom-login-mobile .menu-login form .form-group .btn-submit-artikel {
          background-color: #37474f;
          color: #f5f5f5; }
          header .custom-login-mobile .menu-login form .form-group .btn-submit-artikel:hover, header .custom-login-mobile .menu-login form .form-group .btn-submit-artikel:focus, header .custom-login-mobile .menu-login form .form-group .btn-submit-artikel:active {
            background: #263238;
            color: #dddddd; }

  .nav {
    padding-top: 10px;
    padding-right: 14px;
    cursor: pointer; }

  .title {
    margin-bottom: 5px;
    font-size: 10px; }

  .widget {
    margin-top: 10px; }

  .dropdown-people {
    width: 60px;
    margin-top: -5px; }
    .dropdown-people a img {
      width: 100%;
      height: 100%;
      border-radius: 100%; }

  #header .header-top-left {
    display: none; }
  #header .header-top-right {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -10px;
    margin-bottom: -5px; }
    #header .header-top-right .form-control {
      width: 100% !important;
      height: 45px !important; }
    #header .header-top-right .form-control[placeholder] {
      font-size: 12px;
      height: 35px !important; }
    #header .header-top-right .btn {
      height: 35px !important; }
      #header .header-top-right .btn i.fa {
        font-size: 12px;
        color: #909090; }
  #header .dropdown:hover .dropdown-navbar {
    display: table !important;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin-top: 0px;
    padding: 0;
    border: medium none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0; }
    #header .dropdown:hover .dropdown-navbar li {
      font-size: 12px;
      color: #37474f;
      padding: 15px;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      font-family: "open_sansregular", sans-serif; }
      #header .dropdown:hover .dropdown-navbar li:hover, #header .dropdown:hover .dropdown-navbar li:focus, #header .dropdown:hover .dropdown-navbar li:active {
        background-color: #1c9c57;
        color: #fff;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out; }

  .content .rails-news {
    display: none; }
  .content .content-articles .content-articles-heading h3 {
    color: #FFF;
    font-size: 14px;
    font-weight: 200;
    font-family: "open_sansbold",sans-serif;
    text-transform: uppercase;
    padding: 10px 15px 8px;
    margin-bottom: 0px;
    display: inline-block;
    border-bottom: 3px solid #1C9C57;
    background-color: #1C9C57;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 290px;
    text-align: center; }
  .content .latest {
    background-color: #fff !important;
    margin-right: 5px !important; }
    .content .latest .box-articles-latest {
      margin-bottom: 10px;
      background-color: #fff !important;
      padding-right: 10px;
      padding-left: 10px; }
      .content .latest .box-articles-latest .box-articles-latest-img {
        height: 200px !important;
        margin-bottom: 10px; }
        .content .latest .box-articles-latest .box-articles-latest-img img {
          width: 100% !important;
          height: 200px !important; }
      .content .latest .box-articles-latest .box-articles-latest-meta p {
        font-size: 12px; }
      .content .latest .box-articles-latest .box-articles-latest-title h4 {
        margin-top: 5px; }
        .content .latest .box-articles-latest .box-articles-latest-title h4 a {
          font-size: 16px; }
  .content .news-latest .articles-box {
    background-color: #fff;
    padding: 5px 10px 5px 30px; }
    .content .news-latest .articles-box .articles-box-img {
      margin-left: -20px;
      height: 200px !important; }
    .content .news-latest .articles-box .articles-box-meta {
      margin-top: 5px;
      margin-bottom: 10px; }
      .content .news-latest .articles-box .articles-box-meta ul li {
        font-size: 12px !important; }
    .content .news-latest .articles-box .articles-box-title h3 {
      line-height: 25px !important; }
      .content .news-latest .articles-box .articles-box-title h3 a {
        font-size: 18px !important; }
    .content .news-latest .articles-box .articles-box-content {
      display: none; }
  .content .news2 .articles-box {
    background-color: #ddd;
    padding: 5px 10px 5px 30px; }
    .content .news2 .articles-box .articles-box-img {
      display: none; }
    .content .news2 .articles-box .articles-box-meta {
      margin-top: 5px;
      margin-bottom: 10px; }
      .content .news2 .articles-box .articles-box-meta ul li {
        font-size: 12px !important; }
    .content .news2 .articles-box .articles-box-title h3 {
      line-height: 25px !important; }
      .content .news2 .articles-box .articles-box-title h3 a {
        font-size: 18px !important; }
    .content .news2 .articles-box .articles-box-content {
      display: none; }
  .content .news3 {
    padding-right: 5px; }
    .content .news3 .box-articles-sm {
      border-bottom: 1px solid #ddd; }
      .content .news3 .box-articles-sm .box-articles-sm-img {
        display: none; }
      .content .news3 .box-articles-sm .box-articles-sm-meta {
        display: none; }
      .content .news3 .box-articles-sm .box-articles-sm-title {
        padding-left: 20px; }
        .content .news3 .box-articles-sm .box-articles-sm-title h4 {
          line-height: 20px; }
          .content .news3 .box-articles-sm .box-articles-sm-title h4 a {
            font-size: 16px !important; }

  .content-dashboard .content-articles .articles-box {
    background-color: #ddd;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .content-dashboard .content-articles .articles-box .articles-box-title {
      padding-bottom: -5px; }
      .content-dashboard .content-articles .articles-box .articles-box-title h3 {
        line-height: 25px !important;
        font-size: 18px; }
        .content-dashboard .content-articles .articles-box .articles-box-title h3 a {
          color: #000; }
    .content-dashboard .content-articles .articles-box .articles-box-content {
      display: none; }
    .content-dashboard .content-articles .articles-box .articles-box-img {
      display: none; }
  .content-dashboard .content-dashboard-articles .content-dashboard-articles-heading h3 {
    color: #FFF;
    font-size: 14px;
    font-weight: 200;
    font-family: "open_sansbold",sans-serif;
    text-transform: uppercase;
    padding: 10px 15px 8px;
    margin-bottom: 0px;
    display: inline-block;
    border-bottom: 3px solid #1C9C57;
    background-color: #1C9C57;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 290px;
    text-align: center; }
  .content-dashboard .content-dashboard-articles .content-dashboard-articles-main .box-dashboard-articles .box-dashboard-articles-meta {
    padding-left: 16px; }
  .content-dashboard .content-dashboard-articles .content-dashboard-articles-main .box-dashboard-articles .box-dashboard-articles-title {
    padding-left: 16px; }
  .content-dashboard .content-dashboard-articles .content-dashboard-articles-main .box-dashboard-articles .box-dashboard-articles-img {
    height: 160px;
    width: 290px;
    overflow: hidden;
    border-radius: 4;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    -o-border-radius: 4; }
    .content-dashboard .content-dashboard-articles .content-dashboard-articles-main .box-dashboard-articles .box-dashboard-articles-img img {
      width: 100%;
      height: 100%; }

  .content-single article .single-article-meta {
    margin-top: 35px; }
  .content-single article .single-article-author .single-article-author-title {
    text-align: center;
    margin-top: 10px; }
  .content-single article .single-article-author .single-article-author-role {
    text-align: center;
    margin-bottom: 5px; }

  .dashboard-kelas-online h5 p {
    width: 185px; }

  footer .footer-top {
    display: none; }
  footer .footer-logo {
    display: none; }
  footer .footer-bottom {
    text-align: center;
    font-size: 16px !important;
    margin-bottom: 20px;
    padding-top: 20px;
    float: none !important; }
    footer .footer-bottom .footer-bottom-right {
      display: none; }

  .content-sidebar {
    display: none; } }
@media (min-width: 360px) and (max-width: 640px) {
  header #header-content {
    padding-top: 0;
    padding-bottom: 10px; }
  header #header-content-private {
    padding-top: 0;
    padding-bottom: 10px; }
  header #navbar-main {
    padding-left: 0;
    padding-right: 0; }
    header #navbar-main .navbar {
      height: 70px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      background-color: #f5f5f5;
      padding: 0px;
      z-index: 999; }
      header #navbar-main .navbar .navbar-nav li a {
        line-height: 1.5;
        font-weight: 600;
        font-size: 12px;
        color: #909090;
        height: 50px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 16px;
        transition: all 0.3s ease-in-out 0s; }
    header #navbar-main .container {
      background-color: #fff !important;
      padding-top: 13px;
      padding-bottom: 13px; }
      header #navbar-main .container .navbar-nav li {
        flex-direction: row;
        width: 100%; }

  .navbar-logo-mobile {
    margin-top: 7px;
    margin-left: 10%; }
    .navbar-logo-mobile img {
      width: 175px; }

  .dropdown-people {
    width: 60px;
    margin-top: -5px; }
    .dropdown-people a img {
      width: 100%;
      height: 100%;
      border-radius: 100%; }

  .nav {
    padding-top: 10px;
    padding-right: 14px;
    cursor: pointer; }

  .custom-login-mobile {
    height: auto; }
    .custom-login-mobile .menu-login {
      padding: 20px;
      margin-right: -12px;
      margin-left: 2px; }
      .custom-login-mobile .menu-login .form-login {
        border-bottom: 1px solid #dddddd;
        margin-bottom: 12px; }
      .custom-login-mobile .menu-login > p {
        font-size: 12px;
        line-height: normal;
        margin-bottom: 10px; }
      .custom-login-mobile .menu-login .c-input > input:checked ~ .c-indicator {
        background-color: #1c9c57;
        border: 1px solid #1c9c57; }
      .custom-login-mobile .menu-login .c-input > input:focus ~ .c-indicator {
        -webkit-box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #1c9c57;
        box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #1c9c57; }
      .custom-login-mobile .menu-login .c-input.c-checkbox {
        font-size: 10px; }
        .custom-login-mobile .menu-login .c-input.c-checkbox .c-indicator {
          background-color: #dddddd;
          border: 1px solid #999;
          width: 0.8rem;
          height: 0.8rem; }
      .custom-login-mobile .menu-login label {
        margin-top: -15px; }
        .custom-login-mobile .menu-login label a {
          font-size: 10px;
          color: #1c9c57; }
          .custom-login-mobile .menu-login label a:hover, .custom-login-mobile .menu-login label a:active, .custom-login-mobile .menu-login label a:focus {
            color: #fff; }
      .custom-login-mobile .menu-login form .form-group {
        margin-bottom: 5px; }
        .custom-login-mobile .menu-login form .form-group .form-control {
          border: 2px solid #dddddd;
          height: 30px;
          background-color: transparent;
          transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out; }
          .custom-login-mobile .menu-login form .form-group .form-control:focus {
            border: 2px solid #1c9c57;
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out; }
        .custom-login-mobile .menu-login form .form-group .form-control[placeholder] {
          font-size: 12px; }
        .custom-login-mobile .menu-login form .form-group .btn-login {
          background-color: #1c9c57;
          color: #fff;
          font-family: "open_sanssemibold", sans-serif;
          margin-top: 10px; }
        .custom-login-mobile .menu-login form .form-group .btn-submit-artikel {
          background-color: #37474f;
          color: #f5f5f5; }
          .custom-login-mobile .menu-login form .form-group .btn-submit-artikel:hover, .custom-login-mobile .menu-login form .form-group .btn-submit-artikel:focus, .custom-login-mobile .menu-login form .form-group .btn-submit-artikel:active {
            background: #263238;
            color: #dddddd; }

  #header .header-top-left {
    display: none; }
  #header .header-top-right {
    margin-bottom: 5px; }
    #header .header-top-right .form-control {
      width: 100% !important;
      height: 45px !important; }
    #header .header-top-right .form-control[placeholder] {
      font-size: 12px;
      height: 35px !important; }
    #header .header-top-right .btn {
      height: 35px !important; }
      #header .header-top-right .btn i.fa {
        font-size: 16px;
        color: #909090; }
  #header .dropdown:hover .dropdown-navbar {
    display: table !important;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin-top: 0px;
    padding: 0;
    border: medium none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0; }
    #header .dropdown:hover .dropdown-navbar li {
      font-size: 12px;
      color: #37474f;
      padding: 15px;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      font-family: "open_sansregular", sans-serif; }
      #header .dropdown:hover .dropdown-navbar li:hover, #header .dropdown:hover .dropdown-navbar li:focus, #header .dropdown:hover .dropdown-navbar li:active {
        background-color: #1c9c57;
        color: #fff;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out; }

  .content .rails-news {
    display: none; }
  .content .content-articles .content-articles-heading {
    display: block;
    border-bottom: 3px solid #1c9c57;
    margin-bottom: 15px; }
    .content .content-articles .content-articles-heading h3 {
      color: #FFF;
      font-size: 14px;
      font-weight: 200;
      font-family: "open_sansbold",sans-serif;
      text-transform: uppercase;
      padding: 10px 15px 8px;
      margin-bottom: 0px;
      display: inline-block;
      border-bottom: 3px solid #1C9C57;
      background-color: #1C9C57;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      width: 330px;
      text-align: center; }
  .content .latest {
    background-color: #fff !important;
    margin-right: 5px !important; }
    .content .latest .box-articles-latest {
      margin-bottom: 10px;
      background-color: #fff !important;
      padding-right: 10px;
      padding-left: 10px; }
      .content .latest .box-articles-latest .box-articles-latest-img {
        height: 200px !important;
        margin-bottom: 10px; }
        .content .latest .box-articles-latest .box-articles-latest-img img {
          width: 100% !important;
          height: 200px !important; }
      .content .latest .box-articles-latest .box-articles-latest-meta p {
        font-size: 12px; }
      .content .latest .box-articles-latest .box-articles-latest-title h4 {
        margin-top: 5px; }
        .content .latest .box-articles-latest .box-articles-latest-title h4 a {
          font-size: 16px; }
  .content .news-latest .articles-box {
    background-color: #fff;
    padding: 5px 10px 5px 30px; }
    .content .news-latest .articles-box .articles-box-img {
      margin-left: -30px;
      height: 200px !important;
      margin-right: -11px;
      margin-top: 5px; }
    .content .news-latest .articles-box .articles-box-meta {
      margin-top: 5px;
      margin-bottom: 10px; }
      .content .news-latest .articles-box .articles-box-meta ul li {
        font-size: 12px !important; }
    .content .news-latest .articles-box .articles-box-title h3 {
      line-height: 25px !important; }
      .content .news-latest .articles-box .articles-box-title h3 a {
        font-size: 18px !important; }
    .content .news-latest .articles-box .articles-box-content {
      display: none; }
  .content .news2 .articles-box {
    background-color: #ddd;
    padding: 5px 10px 5px 30px; }
    .content .news2 .articles-box .articles-box-img {
      display: none; }
    .content .news2 .articles-box .articles-box-meta {
      margin-top: 5px;
      margin-bottom: 10px; }
      .content .news2 .articles-box .articles-box-meta ul li {
        font-size: 12px !important; }
    .content .news2 .articles-box .articles-box-title h3 {
      line-height: 25px !important; }
      .content .news2 .articles-box .articles-box-title h3 a {
        font-size: 18px !important; }
    .content .news2 .articles-box .articles-box-content {
      display: none; }
  .content .news3 {
    padding-right: 5px; }
    .content .news3 .box-articles-sm {
      border-bottom: 1px solid #ddd; }
      .content .news3 .box-articles-sm .box-articles-sm-img {
        display: none; }
      .content .news3 .box-articles-sm .box-articles-sm-meta {
        display: none; }
      .content .news3 .box-articles-sm .box-articles-sm-title {
        padding-left: 20px; }
        .content .news3 .box-articles-sm .box-articles-sm-title h4 {
          line-height: 20px; }
          .content .news3 .box-articles-sm .box-articles-sm-title h4 a {
            font-size: 16px !important; }

  .content-dashboard .content-articles .articles-box {
    background-color: #ddd;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .content-dashboard .content-articles .articles-box .articles-box-title {
      padding-bottom: -5px; }
      .content-dashboard .content-articles .articles-box .articles-box-title h3 {
        line-height: 25px !important;
        font-size: 18px; }
        .content-dashboard .content-articles .articles-box .articles-box-title h3 a {
          color: #000; }
    .content-dashboard .content-articles .articles-box .articles-box-content {
      display: none; }
    .content-dashboard .content-articles .articles-box .articles-box-img {
      display: none; }
  .content-dashboard .content-dashboard-articles .content-dashboard-articles-heading h3 {
    color: #FFF;
    font-size: 14px;
    font-weight: 200;
    font-family: "open_sansbold",sans-serif;
    text-transform: uppercase;
    padding: 10px 15px 8px;
    margin-bottom: 0px;
    display: inline-block;
    border-bottom: 3px solid #1C9C57;
    background-color: #1C9C57;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 330px;
    text-align: center; }
  .content-dashboard .content-dashboard-articles .content-dashboard-articles-main .box-dashboard-articles .box-dashboard-articles-meta {
    padding-left: 16px; }
  .content-dashboard .content-dashboard-articles .content-dashboard-articles-main .box-dashboard-articles .box-dashboard-articles-title {
    padding-left: 16px; }
  .content-dashboard .content-dashboard-articles .content-dashboard-articles-main .box-dashboard-articles .box-dashboard-articles-img {
    height: 180px;
    width: 330px;
    overflow: hidden;
    border-radius: 4;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    -o-border-radius: 4; }
    .content-dashboard .content-dashboard-articles .content-dashboard-articles-main .box-dashboard-articles .box-dashboard-articles-img img {
      width: 100%;
      height: 100%; }

  .title {
    margin-bottom: 5px;
    font-size: 10px; }

  footer .footer-top {
    display: none; }
  footer .footer-logo {
    display: none; }
  footer .footer-bottom {
    text-align: center;
    font-size: 16px !important;
    margin-bottom: 20px;
    padding-top: 20px;
    float: none !important; }
    footer .footer-bottom .footer-bottom-right {
      display: none; }

  .content-sidebar {
    display: none; } }
.dashboard-kelas-online h5 p {
  width: 170px; }

@media (min-width: 640px) and (max-width: 992px) {
  .nav {
    padding-top: 10px;
    cursor: pointer;
    width: 100%; }
    .nav .nav-item {
      float: left;
      margin-bottom: -1px;
      width: 49%; }
    .nav .nav-item + .nav-item {
      margin-left: 0.2rem;
      width: 48.9%; }

  .dropdown-people {
    width: 60px;
    margin-top: -5px; }
    .dropdown-people a img {
      width: 100%;
      height: 100%;
      border-radius: 100%; }

  .navbar-logo-mobile {
    margin-top: 5px; }
    .navbar-logo-mobile img {
      width: 150px; }

  .navbar-logo-tablet {
    margin-top: 7px;
    left: 40%;
    right: 60%;
    position: absolute; }

  .custom-float {
    right: 0;
    float: left; }

  .custom-login-mobile {
    height: auto; }
    .custom-login-mobile .menu-login {
      padding: 20px; }
      .custom-login-mobile .menu-login .form-login {
        border-bottom: 1px solid #dddddd;
        margin-bottom: 12px; }
      .custom-login-mobile .menu-login > p {
        font-size: 12px;
        line-height: normal;
        margin-bottom: 10px; }
      .custom-login-mobile .menu-login .c-input > input:checked ~ .c-indicator {
        background-color: #1c9c57;
        border: 1px solid #1c9c57; }
      .custom-login-mobile .menu-login .c-input > input:focus ~ .c-indicator {
        -webkit-box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #1c9c57;
        box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #1c9c57; }
      .custom-login-mobile .menu-login .c-input.c-checkbox {
        font-size: 10px; }
        .custom-login-mobile .menu-login .c-input.c-checkbox .c-indicator {
          background-color: #dddddd;
          border: 1px solid #999;
          width: 0.8rem;
          height: 0.8rem; }
      .custom-login-mobile .menu-login label {
        margin-top: -15px; }
        .custom-login-mobile .menu-login label a {
          font-size: 10px;
          color: #1c9c57; }
          .custom-login-mobile .menu-login label a:hover, .custom-login-mobile .menu-login label a:active, .custom-login-mobile .menu-login label a:focus {
            color: #fff; }
      .custom-login-mobile .menu-login form .form-group {
        margin-bottom: 5px; }
        .custom-login-mobile .menu-login form .form-group .form-control {
          border: 2px solid #dddddd;
          height: 30px;
          background-color: transparent;
          transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out; }
          .custom-login-mobile .menu-login form .form-group .form-control:focus {
            border: 2px solid #1c9c57;
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out; }
        .custom-login-mobile .menu-login form .form-group .form-control[placeholder] {
          font-size: 12px; }
        .custom-login-mobile .menu-login form .form-group .btn-login {
          background-color: #1c9c57;
          color: #fff;
          font-family: "open_sanssemibold", sans-serif;
          margin-top: 10px; }
        .custom-login-mobile .menu-login form .form-group .btn-submit-artikel {
          background-color: #37474f;
          color: #f5f5f5; }
          .custom-login-mobile .menu-login form .form-group .btn-submit-artikel:hover, .custom-login-mobile .menu-login form .form-group .btn-submit-artikel:focus, .custom-login-mobile .menu-login form .form-group .btn-submit-artikel:active {
            background: #263238;
            color: #dddddd; }

  header #header-content {
    padding-top: 0;
    padding-bottom: 10px; }
  header #header-content-private {
    padding-top: 0;
    padding-bottom: 10px; }
  header #navbar-main {
    padding-left: 0;
    padding-right: 0; }
    header #navbar-main .navbar {
      height: 70px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      background-color: #F5F5F5;
      padding: 0px;
      z-index: 999; }
    header #navbar-main .container {
      background-color: #fff !important;
      padding-top: 13px;
      padding-bottom: 13px; }
      header #navbar-main .container .navbar-nav li {
        flex-direction: row;
        width: 100%; }
        header #navbar-main .container .navbar-nav li a {
          line-height: 1.5;
          font-weight: 600;
          font-size: 12px;
          color: #909090;
          height: 50px;
          padding-left: 12px;
          padding-right: 12px;
          padding-top: 16px;
          transition: all 0.3s ease-in-out 0s; }

  #header-main #carousel-slider-top {
    display: none; }
  #header-main .header-main-box {
    display: none; }
    #header-main .header-main-box .header-main-box-content p {
      font-size: 18px !important;
      line-height: 25px !important; }
    #header-main .header-main-box .header-main-box-content form .form-control {
      height: 45px !important; }
    #header-main .header-main-box .header-main-box-content form .form-control[placeholder] {
      font-size: 14px !important; }
    #header-main .header-main-box .header-main-box-content form .c-input {
      font-size: 14px !important; }
    #header-main .header-main-box .header-main-box-content form .btn {
      padding-top: 10px !important;
      padding-bottom: 10px !important; }
    #header-main .header-main-box .header-main-box-content form a {
      font-size: 14px !important; }

  #header .header-top-left {
    display: none; }
  #header .header-top-right .form-control {
    height: 30px !important; }
  #header .header-top-right .form-control[placeholder] {
    font-size: 10px; }
  #header .header-top-right .btn {
    height: 30px !important; }
    #header .header-top-right .btn i.fa {
      font-size: 10px; }
  #header .dropdown:hover .dropdown-navbar {
    display: table !important;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin-top: 0px;
    padding: 0;
    border: medium none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0; }
    #header .dropdown:hover .dropdown-navbar li {
      font-size: 12px;
      color: #37474f;
      padding: 15px;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      font-family: "open_sansregular", sans-serif; }
      #header .dropdown:hover .dropdown-navbar li:hover, #header .dropdown:hover .dropdown-navbar li:focus, #header .dropdown:hover .dropdown-navbar li:active {
        background-color: #1c9c57;
        color: #fff;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out; }

  .content .rails-news {
    display: none; }
  .content .latest {
    background-color: #fff !important;
    margin-right: 5px !important; }
    .content .latest .box-articles-latest {
      margin-bottom: 10px;
      background-color: #fff !important;
      padding-right: 10px;
      padding-left: 10px; }
      .content .latest .box-articles-latest .box-articles-latest-img {
        height: 200px !important;
        margin-bottom: 10px; }
        .content .latest .box-articles-latest .box-articles-latest-img img {
          width: 100% !important;
          height: 200px !important; }
      .content .latest .box-articles-latest .box-articles-latest-meta p {
        font-size: 12px; }
      .content .latest .box-articles-latest .box-articles-latest-title h4 {
        margin-top: 5px; }
        .content .latest .box-articles-latest .box-articles-latest-title h4 a {
          font-size: 16px; }

  .content-dashboard .content-articles .articles-box .articles-box-meta {
    margin-top: 5px; }
    .content-dashboard .content-articles .articles-box .articles-box-meta ul li {
      display: inline-block;
      font-size: 12px;
      margin-right: 5px; }
  .content-dashboard .content-articles .articles-box .articles-box-title {
    padding-bottom: -5px; }
    .content-dashboard .content-articles .articles-box .articles-box-title h3 {
      line-height: 15px !important;
      font-size: 14px; }
      .content-dashboard .content-articles .articles-box .articles-box-title h3 a {
        color: #000; }
  .content-dashboard .content-articles .articles-box .articles-box-content {
    display: none; }
  .content-dashboard .content-articles .articles-box .articles-box-img {
    height: 68px;
    width: 105px;
    overflow: hidden; }
  .content-dashboard .content-dashboard-articles .content-dashboard-articles-main .box-dashboard-articles .box-dashboard-articles-meta ul li {
    font-size: 10px; }
  .content-dashboard .content-dashboard-articles .content-dashboard-articles-main .box-dashboard-articles .box-dashboard-articles-title h4 {
    font-size: 12px; }
  .content-dashboard .content-dashboard-articles .content-dashboard-articles-main .box-dashboard-articles .box-dashboard-articles-img {
    height: 68px;
    width: 105px;
    overflow: hidden;
    border-radius: 4;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    -o-border-radius: 4; }
    .content-dashboard .content-dashboard-articles .content-dashboard-articles-main .box-dashboard-articles .box-dashboard-articles-img img {
      width: 100%;
      height: 100%; }

  .dashboard-kelas-online h5 p {
    width: 570px; }

  footer .footer-top {
    display: none; }
  footer .footer-logo {
    display: none; }
  footer .footer-bottom {
    text-align: center;
    font-size: 16px !important;
    margin-bottom: 20px;
    padding-top: 20px;
    float: none !important; }
    footer .footer-bottom .footer-bottom-right {
      display: none; } }
@media (min-width: 992px) and (max-width: 1500px) {
  .dashboard-kelas-online h5 p {
    width: 765px; } }

/*# sourceMappingURL=responsive.css.map */
