@import url('../../fonts/opensans/style.css');

$white: #fff;
$black: #000;
$grey: #f5f5f5;
$red: #d41d2a;
$grey-black: #dddddd;
$green: #1c9c57;
$green-black: #128a4a;
$yellow: #ffeb3b;
$aspalt: #263238;
$aspalt-light: #37474f;

$margin: 5px;
$margin-top: 5px;
$margin-right: 5px;
$margin-bottom: 5px;
$margin-left: 5px;

$padding: 5px;
$padding-top: 5px;
$padding-right: 5px;
$padding-bottom: 5px;
$padding-left: 5px;

@mixin fonts($fonts){
  font-family: $fonts, sans-serif;
}

@mixin border-radius($border-radius) {
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
       -o-border-radius: $border-radius;
}

@mixin transition($transition) {
  transition: all $transition ease-in-out;
  -webkit-transition: all $transition ease-in-out;
     -moz-transition: all $transition ease-in-out;
       -o-transition: all $transition ease-in-out;
}

// BEGIN 320px
@media (min-width: 320px) and (max-width: 360px) {
  header {
    #header-content {
      padding-top: 0;
      padding-bottom: $padding-bottom + 5px;
    }
    #header-content-private {
      padding-top: 0;
      padding-bottom: $padding-bottom + 5px;
    }
    #header-main {
      .navbar {
        height: 70px;
        @include border-radius(0);
        background-color: #F5F5F5;
        padding: $padding - 5px;
      }
      #carousel-slider-top {
        display: none;
      }
      .header-main-box {
        display: none;
        .header-main-box-content {
          p {
            font-size: 18px !important;
            line-height: 25px !important;
          }
          form {
            .form-control {
              height: 45px !important;
            }
            .form-control[placeholder] {
              font-size: 14px !important;
            }
            .c-input {
              font-size: 14px !important;
            }
            .btn {
              padding-top: 10px !important;
              padding-bottom: 10px !important;
            }
            a {
              font-size: 14px !important;
            }
          }
        }
      }
    }
    #navbar-main {
      padding-left: 0;
      padding-right: 0;
      .navbar {
        height: 70px;
        @include border-radius (0);
        background-color: #F5F5F5;
        padding: $padding - 5px;
        z-index: 999;
        .navbar-nav {
          li {
            a {
              line-height: 1.5;
              font-weight: 600;
              font-size: 12px;
              color: #909090;
              height: 50px;
              padding-left: 12px;
              padding-right: 12px;
              padding-top: 16px;
              transition: all 0.3s ease-in-out 0s;
              margin-right: $margin-right - 20px;
            }
          }
        }
      }
      .container {
        background-color: #fff !important;
        padding-top: $padding-top + 8px;
        padding-bottom: $padding-bottom + 8px;
        .navbar-nav {
          li {
            flex-direction: row;
            width: 100%;
          }
        }
      }
    }
    .navbar-logo-mobile {
      margin-top: $padding-top + 2px;
      margin-left: 10%;
      img {
        width: 170px;
      }
    }
    .custom-login-mobile {
      height: auto;
      right: 0;
      left: auto;
      .menu-login {
        padding: $padding + 15px;
        margin-right: $margin-right - 17px;
        margin-left: $margin-left - 3px;
        .form-login {
          border-bottom: 1px solid $grey-black;
          margin-bottom: $margin-bottom + 7px;
        }
        > p {
          font-size: 12px;
          line-height: normal;
          margin-bottom: $margin-bottom + 5px;
        }
        .c-input>input:checked~.c-indicator {
          background-color: $green;
          border: 1px solid $green;
        }
        .c-input>input:focus~.c-indicator {
          -webkit-box-shadow: 0 0 0 .075rem #fff,0 0 0 .2rem $green;
          box-shadow: 0 0 0 .075rem #fff,0 0 0 .2rem $green;
        }
        .c-input.c-checkbox {
          font-size: 10px;
          .c-indicator {
            background-color: $grey-black;
            border: 1px solid #999;
            width: 0.8rem;
            height: 0.8rem;
          }
        }
        label {
          margin-top: $margin-top - 20px;
          a {
            font-size: 10px;
            color: $green;
            &:hover,
            &:active,
            &:focus {
              color: $white;
            }
          }
        }
        form {
          .form-group {
            margin-bottom: $margin-bottom;
            .form-control {
              border: 2px solid $grey-black;
              height: 30px;
              background-color: transparent;
              @include transition(0.5s);
              &:focus {
                border: 2px solid $green;
                @include transition(0.5s);
              }
            }
            .form-control[placeholder] {
              font-size: 12px;
            }
            .btn-login {
              background-color: $green;
              color: $white;
              @include fonts('open_sanssemibold');
              margin-top: $margin-top + 5px;
            }
            .btn-submit-artikel {
              background-color: $aspalt-light;
              color: $grey;
              &:hover,
              &:focus,
              &:active {
                background: $aspalt;
                color: $grey-black;
              }
            }
          }
        }
      }
    }
    //Begin : header dropdown
    .dropdown {
      .dropdown-navbar {
        width: 331px;
        height: auto;
      }
    }
    //end : header dropdown
  }
  .nav{
    padding-top: $padding-top + 5px;
    padding-right: $padding-right + 9px;
    cursor: pointer;
  } 
  .title {
    margin-bottom: $margin-bottom;
    font-size: 10px;
  }
  .widget {
    margin-top: $margin-top + 5px;
  }
  .dropdown-people{
    width: 60px;
    margin-top: $margin-top - 10px;
    a {
      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
  } 
  
  #header {
    .header-top-left {
      display: none;
    }
    .header-top-right {
      margin-left: $margin-left + 10px;
      margin-right: $margin-right + 10px;
      margin-top: $margin-top - 15px;
      margin-bottom: $margin-bottom - 10px;
      .form-control {
        width: 100% !important;
        height: 45px !important;
      }
      .form-control[placeholder] {
        font-size: 12px;
        height: 35px !important;
      }
      .btn {
        height: 35px !important;
        i.fa {
          font-size: 12px;
          color: #909090;
        }
      }
    }
  }
  .content {
    .rails-news {
      display: none;
    }
    .content-articles {
      .content-articles-heading {
        h3 {
          color: #FFF;
          font-size: 14px;
          font-weight: 200;
          font-family: "open_sansbold",sans-serif;
          text-transform: uppercase;
          padding: 10px 15px 8px;
          margin-bottom: 0px;
          display: inline-block;
          border-bottom: 3px solid #1C9C57;
          background-color: #1C9C57;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          width: 290px;
          text-align: center;
        }
      }
    }
    .latest {
      background-color: #fff !important;
      margin-right: 5px !important;
      .box-articles-latest {
        margin-bottom: 10px;
        background-color: #fff !important;
        padding-right: 10px;
        padding-left: 10px;
        .box-articles-latest-img {
          height: 200px !important;
          margin-bottom: 10px;
          img {
            width: 100% !important;
            height: 200px !important;
          }
        }
        .box-articles-latest-meta {
          p {
            font-size: 12px;
          }
        }
        .box-articles-latest-title {
          h4 {
            margin-top: 5px;
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
    //add responsive for latest
    .news-latest {
      .articles-box {
        background-color: #fff;
        padding: 5px 10px 5px 30px;
        .articles-box-img {
          margin-left: $margin-left - 25px;;
          height: 200px !important;
        }
        .articles-box-meta {
          margin-top: 5px;
          margin-bottom: 10px;
          ul {
            li {
              font-size: 12px !important;
            }
          }
        }
        .articles-box-title {
          h3 {
            line-height: 25px !important;
            a {
              font-size: 18px !important;
            }
          }
        }
        .articles-box-content {
          display: none;
        }
      }
    }
    .news2 {
      .articles-box {
        background-color: #ddd;
        padding: 5px 10px 5px 30px;
        .articles-box-img {
          display: none;
        }
        .articles-box-meta {
          margin-top: 5px;
          margin-bottom: 10px;
          ul {
            li {
              font-size: 12px !important;
            }
          }
        }
        .articles-box-title {
          h3 {
            line-height: 25px !important;
            a {
              font-size: 18px !important;
            }
          }
        }
        .articles-box-content {
          display: none;
        }
      }
    }
    .news3 {
      padding-right: 5px;
      .box-articles-sm {
        border-bottom: 1px solid #ddd;
        .box-articles-sm-img {
          display: none;
        }
        .box-articles-sm-meta {
          display: none;
        }
        .box-articles-sm-title {
          padding-left: 20px;
          h4 {
            line-height: 20px;
            a {
              font-size: 16px !important;
            }
          }
        }
      }
    }
  }
  .content-dashboard {
    .content-articles {
      .articles-box {
        background-color: #ddd;
        padding-left: $padding-left + 25px;
        padding-right: $padding-right + 25px;
        padding-top: $padding-top + 15px;
        padding-bottom: $padding-bottom + 15px;
        .articles-box-title {
          padding-bottom: $padding-bottom - 10px;
          h3 {
            line-height: 25px !important;
            font-size: 18px;
            a {
              color: $black;
            }
          }
        }
        .articles-box-content {
          display: none;
        }
        .articles-box-img {
          display: none;
        }
      }
    }
    .content-dashboard-articles {
      .content-dashboard-articles-heading {
        h3 {
          color: #FFF;
          font-size: 14px;
          font-weight: 200;
          font-family: "open_sansbold",sans-serif;
          text-transform: uppercase;
          padding: 10px 15px 8px;
          margin-bottom: 0px;
          display: inline-block;
          border-bottom: 3px solid #1C9C57;
          background-color: #1C9C57;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          width: 290px;
          text-align: center;
        }
      }
      .content-dashboard-articles-main {
        .box-dashboard-articles {
          .box-dashboard-articles-meta {
            padding-left: $padding-left + 11px;
          }
          .box-dashboard-articles-title {
            padding-left: $padding-left + 11px;
          }
          .box-dashboard-articles-img {
            height: 160px;
            width: 290px;
            overflow: hidden;
            @include border-radius(4);
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  .content-single {
    article {
      .single-article-meta {
        margin-top: $margin-top + 30px;
      }
      .single-article-author {
        .single-article-author-title {
          text-align: center;
          margin-top: $margin-top + 5px;
        }
        .single-article-author-role {
          text-align: center;
          margin-bottom: $margin-bottom;
        }

      }
    }
  }
  .dashboard-kelas-online {
    h5 {
      p {
        width: 185px;
      }
    }
  }
  .content-kelas-online {
    h5 {
      p {
        width: 175px;
        line-height: 1.5;
      }
    }
  }
  footer {
    .footer-top {
      display: none;
    }
    .footer-logo {
      display: none;
    }
    .footer-bottom {
      text-align: center;
      font-size: 16px !important;
      margin-bottom: 20px;
      padding-top: 20px;
      float: none !important;
      .footer-bottom-right {
        display: none;
      }
    }
  }
  .content-sidebar {
    display: none;
  }
  .content-forum {
    .content-main {
      .chosen-container {
        .chosen-results {
          li {
            font-size: 14px;
          }
        }
      }
      .chosen-container-multi {
        background-image: none !important;
        width: 250px;
        .chosen-choices {
          border: 1px solid #CCC;
          background-image: none !important;
          font-size: 14px !important;
          li.search-field input[type="text"] {
            height: 30px !important;
            margin-left: $margin-left + 3;
          }
        }
      }
      .chosen-container-active {
        .chosen-choices {
          border: 1px solid $green-black;
          box-shadow: none !important;
        }
      }
    }
  }
}
//END 360

// BEGIN 360
@media (min-width: 360px) and (max-width: 640px) {
  header {
    #header-content {
      padding-top: 0;
      padding-bottom: $padding-bottom + 5px;
    }
    #header-content-private {
      padding-top: 0;
      padding-bottom: $padding-bottom + 5px;
    }
    #navbar-main {
      padding-left: 0;
      padding-right: 0;
      .navbar {
        height: 70px;
        @include border-radius(0);
        background-color: #f5f5f5;
        padding: $padding - 5px;
        z-index: 999;
        .navbar-nav {
          li {
            a {
              line-height: 1.5;
              font-weight: 600;
              font-size: 12px;
              color: #909090;
              height: 50px;
              padding-left: 12px;
              padding-right: 12px;
              padding-top: 16px;
              transition: all 0.3s ease-in-out 0s;
              margin-right: $margin-right - 20px;
              &:hover,
              &:active {
                color: $white;
              }
            }
          }
        }
      }
      .container {
        background-color: #fff !important;
        padding-top: $padding-top + 8px;
        padding-bottom: $padding-bottom + 8px;
        .navbar-nav {
          li {
            flex-direction: row;
            width: 100%;
          }
        }
      }
    }
    #header-main {
      .navbar {
        height: 70px;
        @include border-radius(0);
        background-color: #F5F5F5;
        padding: $padding - 5px;
      }
      #carousel-slider-top {
        display: none;
      }
      .header-main-box {
        display: none;
        .header-main-box-content {
          p {
            font-size: 18px !important;
            line-height: 25px !important;
          }
          form {
            .form-control {
              height: 45px !important;
            }
            .form-control[placeholder] {
              font-size: 14px !important;
            }
            .c-input {
              font-size: 14px !important;
            }
            .btn {
              padding-top: 10px !important;
              padding-bottom: 10px !important;
            }
            a {
              font-size: 14px !important;
            }
          }
        }
      }
    }
    .dropdown {
      .dropdown-navbar {
        width: 331px;
        height: auto;
      }
    }
  }
  .navbar-logo-mobile {
    margin-top: 7px;
    margin-left: 10%;
    img {
      width: 175px;
    }
  }
  .dropdown-people{
    width: 60px;
    margin-top: $margin-top - 10px;
    a {
      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
  }
  .nav {
    padding-top: $padding-top + 5px;
    padding-right: $padding-right + 9px;
    cursor: pointer;
  }
  .title {
    margin-bottom: $margin-bottom;
    font-size: 10px;
  }
  //BEGIN CUSTOM LOGIN MOBILE
  .custom-login-mobile {
    height: auto;
    .menu-login {
      padding: $padding + 15px;
      margin-right: $margin-right - 17px;
      margin-left: $margin-left - 3px;
      .form-login {
        border-bottom: 1px solid $grey-black;
        margin-bottom: $margin-bottom + 7px;
      }
      > p {
        font-size: 12px;
        line-height: normal;
        margin-bottom: $margin-bottom + 5px;
      }
      .c-input>input:checked~.c-indicator {
        background-color: $green;
        border: 1px solid $green;
      }
      .c-input>input:focus~.c-indicator {
        -webkit-box-shadow: 0 0 0 .075rem #fff,0 0 0 .2rem $green;
        box-shadow: 0 0 0 .075rem #fff,0 0 0 .2rem $green;
      }
      .c-input.c-checkbox {
        font-size: 10px;
        .c-indicator {
          background-color: $grey-black;
          border: 1px solid #999;
          width: 0.8rem;
          height: 0.8rem;
        }
      }
      label {
        margin-top: $margin-top - 20px;
        a {
          font-size: 10px;
          color: $green;
          &:hover,
          &:active,
          &:focus {
            color: $white;
          }
        }
      }
      form {
        .form-group {
          margin-bottom: $margin-bottom;
          .form-control {
            border: 2px solid $grey-black;
            height: 30px;
            background-color: transparent;
            @include transition(0.5s);
            &:focus {
              border: 2px solid $green;
              @include transition(0.5s);
            }
          }
          .form-control[placeholder] {
            font-size: 12px;
          }
          .btn-login {
            background-color: $green;
            color: $white;
            @include fonts('open_sanssemibold');
            margin-top: $margin-top + 5px;
          }
          .btn-submit-artikel {
            background-color: $aspalt-light;
            color: $grey;
            &:hover,
            &:focus,
            &:active {
              background: $aspalt;
              color: $grey-black;
            }
          }
        }
      }
    }
  }
  // END CUTOM LOGIN MOBILE

  #header {
    .header-top-left {
      display: none;
    }
    .header-top-right {
      margin-bottom: $margin-bottom;
      .form-control {
        width: 100% !important;
        height: 45px !important;
      }
      .form-control[placeholder] {
        font-size: 12px;
        height: 35px !important;
      }
      .btn {
        height: 35px !important;
        i.fa {
          font-size: 16px;
          color: #909090;
        }
      }
    }
  }
  .content {
    .rails-news {
      display: none;
    }
    //BEGIN FOR ARTICLE HEADING
    .content-articles {
      .content-articles-heading {
        display: block;
        border-bottom: 3px solid $green;
        margin-bottom: $margin-bottom + 10px;
        h3 {
          color: #FFF;
          font-size: 14px;
          font-weight: 200;
          font-family: "open_sansbold",sans-serif;
          text-transform: uppercase;
          padding: 10px 15px 8px;
          margin-bottom: 0px;
          display: inline-block;
          border-bottom: 3px solid #1C9C57;
          background-color: #1C9C57;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          width: 330px;
          text-align: center;
        }
      }
    }
    //END FOR ARTICLE HEADING
    .latest {
      background-color: #fff !important;
      margin-right: 5px !important;
      .box-articles-latest {
        margin-bottom: 10px;
        background-color: #fff !important;
        padding-right: 10px;
        padding-left: 10px;
        .box-articles-latest-img {
          height: 200px !important;
          margin-bottom: 10px;
          img {
            width: 100% !important;
            height: 200px !important;
          }
        }
        .box-articles-latest-meta {
          p {
            font-size: 12px;
          }
        }
        .box-articles-latest-title {
          h4 {
            margin-top: 5px;
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
    //add responsive for latest
    .news-latest {
      .articles-box {
        background-color: #fff;
        padding: 5px 10px 5px 30px;
        .articles-box-img {
          margin-left: $margin-left - 35px;
          height: 200px !important;
          margin-right: $margin-right - 16px;
          margin-top: $margin-top;
        }
        .articles-box-meta {
          margin-top: 5px;
          margin-bottom: 10px;
          ul {
            li {
              font-size: 12px !important;
            }
          }
        }
        .articles-box-title {
          h3 {
            line-height: 25px !important;
            a {
              font-size: 18px !important;
            }
          }
        }
        .articles-box-content {
          display: none;
        }
      }
    }
    .news2 {
      .articles-box {
        background-color: #ddd;
        padding: 5px 10px 5px 30px;
        .articles-box-img {
          display: none;
        }
        .articles-box-meta {
          margin-top: 5px;
          margin-bottom: 10px;
          ul {
            li {
              font-size: 12px !important;
            }
          }
        }
        .articles-box-title {
          h3 {
            line-height: 25px !important;
            a {
              font-size: 18px !important;
            }
          }
        }
        .articles-box-content {
          display: none;
        }
      }
    }
    .news3 {
      padding-right: 5px;
      .box-articles-sm {
        border-bottom: 1px solid #ddd;
        .box-articles-sm-img {
          display: none;
        }
        .box-articles-sm-meta {
          display: none;
        }
        .box-articles-sm-title {
          padding-left: 20px;
          h4 {
            line-height: 20px;
            a {
              font-size: 16px !important;
            }
          }
        }
      }
    }
  }
  .content-dashboard {
    .content-articles {
      .articles-box {
        background-color: #ddd;
        padding-left: $padding-left + 25px;
        padding-right: $padding-right + 25px;
        padding-top: $padding-top + 15px;
        padding-bottom: $padding-bottom + 15px;
        .articles-box-title {
          padding-bottom: $padding-bottom - 10px;
          h3 {
            line-height: 25px !important;
            font-size: 18px;
            a {
              color: $black;
            }
          }
        }
        .articles-box-content {
          display: none;
        }
        .articles-box-img {
          display: none;
        }
      }
    }
    .content-dashboard-articles {
      .content-dashboard-articles-heading {
        h3 {
          color: #FFF;
          font-size: 14px;
          font-weight: 200;
          font-family: "open_sansbold",sans-serif;
          text-transform: uppercase;
          padding: 10px 15px 8px;
          margin-bottom: 0px;
          display: inline-block;
          border-bottom: 3px solid #1C9C57;
          background-color: #1C9C57;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          width: 330px;
          text-align: center;
        }
      }
      .content-dashboard-articles-main {
        .box-dashboard-articles {
          .box-dashboard-articles-meta {
            padding-left: $padding-left + 11px;
          }
          .box-dashboard-articles-title {
            padding-left: $padding-left + 11px;
          }
          .box-dashboard-articles-img {
            height: 180px;
            width: 330px;
            overflow: hidden;
            @include border-radius(4);
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  .dashboard-kelas-online {
    h5 {
      p {
        width: 185px;
      }
    }
  }
  .content-kelas-online {
    h5 {
      p {
        width: 215px;
        line-height: 1.5;
      }
    }
  }
  
  footer {
    .footer-top {
      display: none;
    }
    .footer-logo {
      display: none;
    }
    .footer-bottom {
      text-align: center;
      font-size: 16px !important;
      margin-bottom: 20px;
      padding-top: 20px;
      float: none !important;
      .footer-bottom-right {
        display: none;
      }
    }
  }
  .content-sidebar {
    display: none;
  }
}
//END 640

//BEGIN 640
@media (min-width: 640px) and (max-width: 992px){
  // GENERAL 
  .nav {
    padding-top: $padding-top + 5px;
    cursor: pointer;
    width: 100%;
  } 
  .dropdown-people {
    width: 60px;
    margin-top: $margin-top - 10px;
    a {
      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
  } 
  .navbar-logo-mobile {
    margin-top: 5px;
    img {
      width: 150px;
    }
  }
  .navbar-logo-tablet {
    margin-top: 7px;
    left: 40%;
    right: 60%;
    position: absolute;
  }
  .custom-float {
    right: 0;
    float: left;
  }
  // END GENERAL
  
   //BEGIN CUSTOM LOGIN MOBILE
  .custom-login-mobile {
    height: auto;
    .menu-login {
      padding: $padding + 15px;
      .form-login {
        border-bottom: 1px solid $grey-black;
        margin-bottom: $margin-bottom + 7px;
      }
      > p {
        font-size: 12px;
        line-height: normal;
        margin-bottom: $margin-bottom + 5px;
      }
      .c-input>input:checked~.c-indicator {
        background-color: $green;
        border: 1px solid $green;
      }
      .c-input>input:focus~.c-indicator {
        -webkit-box-shadow: 0 0 0 .075rem #fff,0 0 0 .2rem $green;
        box-shadow: 0 0 0 .075rem #fff,0 0 0 .2rem $green;
      }
      .c-input.c-checkbox {
        font-size: 10px;
        .c-indicator {
          background-color: $grey-black;
          border: 1px solid #999;
          width: 0.8rem;
          height: 0.8rem;
        }
      }
      label {
        margin-top: $margin-top - 20px;
        a {
          font-size: 10px;
          color: $green;
          &:hover,
          &:active,
          &:focus {
            color: $white;
          }
        }
      }
      form {
        .form-group {
          margin-bottom: $margin-bottom;
          .form-control {
            border: 2px solid $grey-black;
            height: 30px;
            background-color: transparent;
            @include transition(0.5s);
            &:focus {
              border: 2px solid $green;
              @include transition(0.5s);
            }
          }
          .form-control[placeholder] {
            font-size: 12px;
          }
          .btn-login {
            background-color: $green;
            color: $white;
            @include fonts('open_sanssemibold');
            margin-top: $margin-top + 5px;
          }
          .btn-submit-artikel {
            background-color: $aspalt-light;
            color: $grey;
            &:hover,
            &:focus,
            &:active {
              background: $aspalt;
              color: $grey-black;
            }
          }
        }
      }
    }
  }
  // END CUTOM LOGIN MOBILE

  // BEGIN HEADER MAIN
  header {
    #header-content {
      padding-top: 0;
      padding-bottom: $padding-bottom + 5px;
    }
    #header-content-private {
      padding-top: 0;
      padding-bottom: $padding-bottom + 5px;
    }
    //BEGIN NAVBAR MAIN
    #navbar-main {
      padding-left: 0;
      padding-right: 0;
      .navbar {
        height: 70px;
        @include border-radius (0);
        background-color: #F5F5F5;
        padding: $padding - 5px;
        z-index: 999;
      }
      .container {
        background-color: #fff !important;
        padding-top: $padding-top + 8px;
        padding-bottom: $padding-bottom + 8px;
        .navbar-nav {
          li {
            flex-direction: row;
            width: 100%;
            a {
              line-height: 1.5;
              font-weight: 600;
              font-size: 12px;
              color: #909090;
              height: 50px;
              padding-left: 12px;
              padding-right: 12px;
              padding-top: 16px;
              transition: all 0.3s ease-in-out 0s;
            }
          }
        }
      }
    }
    //END NAVBAR MAIN
    //Begin: Header navbar
    .dropdown {
      .dropdown-navbar {
        width: 331px;
        height: auto;
      }
    }
    // End : Header navbar
  }
  #header-main {
    #carousel-slider-top {
      display: none;
    }
    .header-main-box {
      display: none;
      .header-main-box-content {
        p {
          font-size: 18px !important;
          line-height: 25px !important;
        }
        form {
          .form-control {
            height: 45px !important;
          }
          .form-control[placeholder] {
            font-size: 14px !important;
          }
          .c-input {
            font-size: 14px !important;
          }
          .btn {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
          }
          a {
            font-size: 14px !important;
          }
        }
      }
    }
  }
  //HEADER MAIN

  //BEGIN HEADER
  #header {
    .header-top-left {
      display: none;
    }
    .header-top-right {
      .form-control {
        height: 30px !important;
      }
      .form-control[placeholder] {
        font-size: 10px;
      }
      .btn {
        height: 30px !important;
        i.fa {
          font-size: 10px;
        }
      }
    }
    // .dropdown:hover {
    //   .dropdown-navbar {
    //     display: table !important;
    //     width: 100%;
    //     height: auto;
    //     background-color: $grey;
    //     margin-top: 0px;
    //     padding: 0;
    //     border: medium none;
    //     @include border-radius(0);
    //     li {
    //       font-size: 12px;
    //       color: $aspalt-light;
    //       padding: $padding + 10px;
    //       @include transition(0.3s);
    //       @include fonts('open_sansregular');
    //       &:hover,
    //       &:focus,
    //       &:active {
    //         background-color: $green;
    //         color: $white;
    //         @include transition(0.3s);
    //       }
    //     }
    //   }
    // }
  }
  //END HEADER
  
  // BEGIN CONTENT
  .content {
    .rails-news {
      display: none;
    }
    .latest {
      background-color: #fff !important;
      margin-right: 5px !important;
      .box-articles-latest {
        margin-bottom: 10px;
        background-color: #fff !important;
        padding-right: 10px;
        padding-left: 10px;
        .box-articles-latest-img {
          height: 200px !important;
          margin-bottom: 10px;
          img {
            width: 100% !important;
            height: 200px !important;
          }
        }
        .box-articles-latest-meta {
          p {
            font-size: 12px;
          }
        }
        .box-articles-latest-title {
          h4 {
            margin-top: 5px;
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  //END CONTENT
  // BEGIN CONTENT DASHBOARD 
  .content-dashboard {
    .content-articles {
      .articles-box {
        .articles-box-meta {
          margin-top: $margin-top;
          ul {
            li {
              display: inline-block;
              font-size: 12px;
              margin-right: 5px;
            }
          }
        }
        .articles-box-title {
          padding-bottom: $padding-bottom - 10px;
          h3 {
            line-height: 15px !important;
            font-size: 14px;
            a {
              color: $black;
            }
          }
        }
        .articles-box-content {
          display: none;
        }
        .articles-box-img {
          height: 68px;
          width: 105px;
          overflow: hidden;
        }
      }
    }
    .content-dashboard-articles {
      .content-dashboard-articles-main {
        .box-dashboard-articles {
          .box-dashboard-articles-meta {
            ul {
              li {
                font-size: 10px;
              }
            }
          }
          .box-dashboard-articles-title {
            h4 {
              font-size: 12px;
            }
          }
          .box-dashboard-articles-img {
            height: 68px;
            width: 105px;
            overflow: hidden;
            @include border-radius(4);
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  .dashboard-kelas-online {
    h5 {
      p {
        width: 570px;
      }
    }
  }
  .content-kelas-online {
    h5 {
      p {
        width: 422px;
        line-height: 1.5;
      }
    }
  }
  // END CONTENT DASHBOARD

  //BEGIN FOOTER
  footer {
    .footer-top {
      display: none;
    }
    .footer-logo {
      display: none;
    }
    .footer-bottom {
      text-align: center;
      font-size: 16px !important;
      margin-bottom: 20px;
      padding-top: 20px;
      float: none !important;
      .footer-bottom-right {
        display: none;
      }
    }
  }
  //END FOOTER
}
// 1280
@media (min-width: 992px) and (max-width:1500px){
  .dashboard-kelas-online {
    h5 {
      p {
        width: 765px;
      }
    }
  }
  .content-kelas-online {
    h5 {
      p {
        width: 500px;
        line-height: 1.5;
      }
    }
  }
}
// Extra small devices (portrait phones, less than 34em)
@media (max-width: 33.9em) {}

// Small devices (landscape phones, less than 48em)
@media (max-width: 47.9em) {}

// Medium devices (tablets, less than 62em)
@media (max-width: 61.9em) {}

// Large devices (desktops, less than 75em)
@media (max-width: 74.9em) {}

