@media (min-width: 320px) and (max-width: 360px) {
  #header-main {
    #carousel-slider-top {
      display: none;
    }
    .header-main-box{
      display: none;
      .header-main-box-content {
        p {
          font-size: 18px !important;
          line-height: 25px !important;
        }
        form {
          .form-control {
            height: 45px !important;
          }
          .form-control[placeholder] {
            font-size: 14px !important;
          }
          .c-input {
            font-size: 14px !important;
          }
          .btn {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
          }
          a {
            font-size: 14px !important;
          }
        }
      }
    }
  }
  #navbar-main {
    padding-left: 0;
    padding-right: 0;
    .container {
      background-color: #fff !important;
      padding-top: 5px;
      padding-bottom: 10px;
      .navbar-nav {
        li {
          flex-direction: row;
          width: 100%;
        }
      }
    }
  }
  .nav{
    padding-top: 10px;
  }
  .navbar-logo-mobile {
    margin-top: 7px;
    img {
      width: 150px;
    }
  }
  #header {
    .header-top-left {
      display: none;
    }
    .header-top-right {
      .form-control {
        width: 100% !important;
        height: 45px !important;
      }
      .form-control[placeholder] {
        font-size: 16px;
      }
      .btn {
        height: 45px !important;
        i.fa {
          font-size: 20px;
        }

      }
    }
  }
  .content {
    .rails-news {
      display: none;
    }
    .latest {
      background-color: #fff !important;
      margin-right: 5px !important;
      .box-articles-latest {
        margin-bottom: 10px;
        background-color: #fff !important;
        padding-right: 10px;
        padding-left: 10px;
        .box-articles-latest-img {
          height: 200px !important;
          margin-bottom: 10px;
          img {
            width: 100% !important;
            height: 200px !important;
          }
        }
        .box-articles-latest-meta {
          p {
            font-size: 12px;
          }
        }
        .box-articles-latest-title {
          h4 {
            margin-top: 5px;
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
    .news2 {
      .articles-box {
        background-color: #ddd;
        padding: 5px 10px 5px 30px;
        .articles-box-img {
          display: none;
        }
        .articles-box-meta {
          margin-top: 5px;
          margin-bottom: 10px;
          ul {
            li {
              font-size: 12px !important;
            }
          }
        }
        .articles-box-title {
          h3 {
            line-height: 25px !important;
            a {
              font-size: 18px !important;
            }
          }
        }
        .articles-box-content {
          display: none;
        }
      }
    }
    .news3 {
      padding-right: 5px;
      .box-articles-sm {
        border-bottom: 1px solid #ddd;
        .box-articles-sm-img {
          display: none;
        }
        .box-articles-sm-meta {
          display: none;
        }
        .box-articles-sm-title {
          padding-left: 20px;
          h4 {
            line-height: 20px;
            a {
              font-size: 16px !important;
            }
          }
        }
      }
    }
  }
  footer {
    .footer-top {
      display: none;
    }
    .footer-logo {
      display: none;
    }
    .footer-bottom {
      text-align: center;
      font-size: 16px !important;
      margin-bottom: 20px;
      padding-top: 20px;
      float: none !important;
      .footer-bottom-right {
        display: none;
      }
    }
  }
}
@media (min-width: 360px) and (max-width: 640px) {
  #header-main {
    #carousel-slider-top {
      display: none;
    }
    .header-main-box {
      display: none;
      .header-main-box-content {
        p {
          font-size: 18px !important;
          line-height: 25px !important;
        }
        form {
          .form-control {
            height: 45px !important;
          }
          .form-control[placeholder] {
            font-size: 14px !important;
          }
          .c-input {
            font-size: 14px !important;
          }
          .btn {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
          }
          a {
            font-size: 14px !important;
          }
        }
      }
    }
  }
  #navbar-main {
    padding-left: 0;
    padding-right: 0;
    .container {
      background-color: #fff !important;
      padding-top: 5px;
      padding-bottom: 10px;
      .navbar-nav {
        li {
          flex-direction: row;
          width: 100%;
        }
      }
    }
  }
  .nav{
    padding-top: 10px;
  }
  .navbar-logo-mobile {
    margin-top: 7px;
    img {
      width: 150px;
    }
  }
  #header {
    .header-top-left {
      display: none;
    }
    .header-top-right {
      .form-control {
        width: 100% !important;
        height: 45px !important;
      }
      .form-control[placeholder] {
        font-size: 16px;
      }
      .btn {
        height: 45px !important;
        i.fa {
          font-size: 20px;
        }

      }
    }
  }
  .content {
    .rails-news {
      display: none;
    }
    .latest {
      background-color: #fff !important;
      margin-right: 5px !important;
      .box-articles-latest {
        margin-bottom: 10px;
        background-color: #fff !important;
        padding-right: 10px;
        padding-left: 10px;
        .box-articles-latest-img {
          height: 200px !important;
          margin-bottom: 10px;
          img {
            width: 100% !important;
            height: 200px !important;
          }
        }
        .box-articles-latest-meta {
          p {
            font-size: 12px;
          }
        }
        .box-articles-latest-title {
          h4 {
            margin-top: 5px;
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
    .news2 {
      .articles-box {
        background-color: #ddd;
        padding: 5px 10px 5px 30px;
        .articles-box-img {
          display: none;
        }
        .articles-box-meta {
          margin-top: 5px;
          margin-bottom: 10px;
          ul {
            li {
              font-size: 12px !important;
            }
          }
        }
        .articles-box-title {
          h3 {
            line-height: 25px !important;
            a {
              font-size: 18px !important;
            }
          }
        }
        .articles-box-content {
          display: none;
        }
      }
    }
    .news3 {
      padding-right: 5px;
      .box-articles-sm {
        border-bottom: 1px solid #ddd;
        .box-articles-sm-img {
          display: none;
        }
        .box-articles-sm-meta {
          display: none;
        }
        .box-articles-sm-title {
          padding-left: 20px;
          h4 {
            line-height: 20px;
            a {
              font-size: 16px !important;
            }
          }
        }
      }
    }
  }
  footer {
    .footer-top {
      display: none;
    }
    .footer-logo {
      display: none;
    }
    .footer-bottom {
      text-align: center;
      font-size: 16px !important;
      margin-bottom: 20px;
      padding-top: 20px;
      float: none !important;
      .footer-bottom-right {
        display: none;
      }
    }
  }
  .content-sidebar {
    display: none;
  }
}

// Extra small devices (portrait phones, less than 34em)
@media (max-width: 33.9em) {}

// Small devices (landscape phones, less than 48em)
@media (max-width: 47.9em) {}

// Medium devices (tablets, less than 62em)
@media (max-width: 61.9em) {}

// Large devices (desktops, less than 75em)
@media (max-width: 74.9em) {}

